/* ==========================================================================
   #ARTICLE
   ========================================================================== */

.o-wrapper__article {

  @include bp-xlarge {
    position: relative;
  }
}

.c-article {
  max-width: 970px;
  margin: 1.75rem auto 0;
  position: relative;

  a {
    color: $color-crimson;
  }

  @include bp-xlarge {
    position: static;
  }

  img {
    width: 100%;
  }

  &__intro, &__content > p:first-child {
    color: $color-crimson;
    font-size: 1.458rem;
    letter-spacing: 0.02em;
    line-height: 1.45;
    margin-bottom: 2.5833rem;
  }

  &__pagination {
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-silver-chalice;
    padding: 1.1rem 1.2rem 1.1rem 1.1rem;
    margin: 2rem 0 3.409rem;

    &.o-layout {
      display: flex;
    }
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  &__social {
    position: absolute;
    left: 0;
    top: -50px;
    text-align: center;

    @include bp-medium-max {
      top: -40px;
    }

    @include bp-xlarge {
      top: 0;
      left: 55px;
    }

    .c-social-icons {
      flex-direction: row;
      align-items: center;

      @include bp-xlarge {
        flex-direction: column;

        .at-style-responsive .at-share-btn {
          display: block;
        }

      }

      &__icon {
        opacity: 0.6;
        margin: 0;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
