/* ==========================================================================
   #FEATURED LISTS AND BOXES
   ========================================================================== */

.c-featured {
  background-color: $color-seashell;
  min-height: 382px;
  position: relative;
  padding: 2.272rem;
  margin-bottom: $gutter-content;


  &__content {
    position: relative;
    line-height: 1.25;
  }

  &__image {
    position: absolute;
    bottom: 0;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }

    &--fw {
      position: relative;
    }

    &--fullwidth {
      left: 0;
      top: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    font-weight: $font-regular;
    font-size: 2.2963rem;
    line-height: 1;

    &__section {
      text-align: center;
      margin: .75rem auto 2rem;
    }
  }

  p {
    font-size: 1.36rem;

    &.small {
      font-size: 1rem;
    }
  }

  &--white {
    background-color: $color-gondola;
    color: $color-white;
  }

  &--box {
    cursor: pointer;
    .c-featured__content {
      max-width: 442px;
    }
  }

  &--fullwidth {
    min-height: 435px;

    @include bp-large {
      height: 870px;
    }

    &.-no-height {
      height: auto;
    }

    .c-featured__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 620px;
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;

      @include bp-large {
        left: auto;
        right: 4.09rem;
      }
    }

    p {
      font-size: 1.5909rem;
    }
  }

  &--img-right {
    padding: 0;
    min-height: 0;

    @include bp-large {
      min-height: 435px;
    }

    .c-featured__content {
      text-align: left;
      position: static;
      padding: 5% 5% 0;

      @include bp-large {
        padding: 5%;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &--bg-img {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 70%;

    @include bp-medium {
      background-size: 50%;
    }

    @include bp-large {
      background-size: auto;
    }

    &.-bg-img-bottom {
      padding-top: 4rem;
      background-size: cover;
      background-position: center bottom;
    }
  }

  &--radial {
    &::after {
      content: '';
      background: radial-gradient(farthest-corner at 10% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);
      opacity: 0.2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &--centered {
    text-align: center;
    padding-bottom: 16rem;

    .c-featured__content {
      margin: 0 auto;
      max-width: 500px;
    }
  }

  &--left-aligned {
    background-position: right top;
    background-color: transparent;
    padding: 3.8636rem 0;
    position: relative;

    .o-wrapper {
      padding-left: $gutter-content * 2;
      padding-right: $gutter-content * 2;
    }

    .c-heading {
      margin-bottom: 0.6rem;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(234, 234, 234, 1) 0%,rgba(255, 255, 255, 1) 100%);
    }

    .c-featured__content {
      margin-bottom: 5.68181rem;
      max-width: 410px;
    }
  }

  &__features-list {
    flex-wrap: wrap;
    max-width: 870px;
    margin-bottom: 4.54rem;
    color: $color-gondola;
    font-size: 1.0909rem;
    line-height: 1.2;
    align-items: center;

    .c-featured__list-item {
      max-width: 400px;
      min-height: 70px;
      padding: 20px 0 20px 95px;
      align-items: center;
    }
  }

  &__icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70px;

    &-zbend {
      background-image: url('../assets/icons/ico-pro-zbend.svg');
    }

    &-leaves {
      background-image: url('../assets/icons/ico-pro-leaves.svg');
    }

    &-frame {
      background-image: url('../assets/icons/ico-pro-frame.svg');
    }

    &-nail {
      background-image: url('../assets/icons/ico-pro-nail.svg');
    }

    &-mesh {
      background-image: url('../assets/icons/ico-pro-mesh.svg');
    }

    &-warranty {
      background-image: url('../assets/icons/ico-pro-warranty.svg');
    }
  }
}