/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  background-color: $color-gondola;
  color: $color-white;
  min-height: 400px;

  &__wrap {
    position: relative;

    &::after {
      content: '';
      background: $color-black;
      opacity: 0.5;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: auto;
    }

    &--img-right {
      display: flex;
      justify-content: flex-end;
    }

    &--img-small {
      padding: 190px 0 80px;
      @include bp-medium {
        padding-top: 100px;
        padding-bottom: 90px;
      }
    }

    p {
      font-size: 1.81rem;
      margin: 0;

      a {
        font-size: 1rem;
      }
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 630px;

    @include bp-medium {
      min-height: 600px;
    }

    &--overlap {
      min-height: 0;
      max-height: none;
      width: 50%;
      min-width: 380px;
      margin-bottom: -100px;

      @include bp-medium {
        margin-bottom: -120px;
        width: auto;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 60px;
    bottom: 0;
    margin: auto;
    max-width: $layout-width;
    padding-left: 1.25rem;
    padding-top: 1rem;

    @include bp-medium {
      padding-left: 2.72rem;
      left: $gutter;
      right: $gutter;
    }
  }

  &--page {
    .c-hero__content {
      padding-left: 10%;

      @include bp-large {
        padding-left: 7rem;
      }
    }
  }

  &__caption {
    line-height: 1.18;
    letter-spacing: 0.03em;
    font-weight: $font-bold;
    text-transform: uppercase;

    &--bg {
      &::after {
        content: '';
        background: url('../assets/images/bg-heading.svg') no-repeat left top;
        position: absolute;
        z-index: 1;
        width: 250px;
        height: 250px;
        top: 90px;
        left: 0;
        margin: auto;
        transform: rotate(-90deg);

        @include bp-medium {
          top: 0;
          bottom: 0;
          width: 326px;
          height: 326px;
        }
      }
    }

    &--border {
      position: relative;
      padding-bottom: 1rem;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 10px;
        background-color: $color-crimson;
      }
    }
  }

  &__heading {
    font-size: 2.72rem;
    max-width: 800px;
    position: relative;
    z-index: 10;
    padding-top: 2.27rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 10px;
      background-color: $color-crimson;
    }

    &--border-bottom {
      margin-bottom: 0.8rem;
      padding-top: 0;

      &::before {
        content: normal;
      }
    }

    &--no-border {
      &::before {
        content: normal;
      }
    }
  }

  &__subhead {
    text-transform: none;
    font-weight: $font-regular;
    font-size: 1.27rem;
  }

  &__banner {
    background-color: $color-crimson;
    font-size: 1.5rem;
    text-align: center;

    h3 {
      font-size: 1.9rem;
      font-weight: bold;
      margin: auto;
    }

    &--dark {
      background-color: $color-thunder;
    }

    &--small {
      font-size: 1rem;
    }

    .o-layout {
      padding: 1.4rem 0 1.4rem;
    }

    @include bp-medium {
      letter-spacing: 0.03rem;
    }

    @include bp-medium-max {
      line-height: 1;
    }

    .o-wrapper {
      align-items: center;

      @include bp-full {
        padding-left: 2.72rem;
      }
    }

    p, h3 {
      margin: 0;
      line-height: 1;
    }

    .c-more {
      font-size: 0.8409rem;
      letter-spacing: 0.01em;

      @include bp-medium {
        margin: 8px 0 0 50px;
      }
    }

    &--contact {
      letter-spacing: normal;

      @include bp-medium-max {
        line-height: 2;
      }

      .o-wrapper {
        padding: 2rem;
        align-items: center;

        @include bp-medium {
          padding: 1.8rem;
        }

        @include bp-large {
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }

      .o-layout {
        .o-layout__item {
          @include bp-medium-max {
            padding-bottom: 40px;

            &:first-child {
              padding-bottom: 30px;
            }

            &:last-child {
              padding-bottom: 1rem;
            }
          }
        }
      }

      address,
      .phone,
      .fax {
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 48px auto;
        line-height: 1;
        padding: 17px 0 17px 4rem;

        @include bp-medium {
          background-size: 50px auto;
          padding-left: 3rem;
        }

        @include bp-large {
          background-size: 68px auto;
          padding-left: 4.4545rem;
        }

        &:hover {
          text-decoration: none;
          color: inherit;
        }
      }

      address {
        font-style: normal;
        margin: 0;
        background-image: url('../assets/icons/ico-location.svg');

        @include bp-large {
          max-width: 410px;
        }
      }

      .phone {
        background-image: url('../assets/icons/ico-phone.svg');
      }

      .fax {
        background-image: url('../assets/icons/ico-fax.svg');
      }
    }
  }

  &__date {
    font-size: 0.8181rem;
    font-weight: $font-regular;
    text-transform: none;
    letter-spacing: 1px;
    color: $color-alto;
  }

  .c-btn {
    position: relative;
    z-index: 10;
    max-width: 160px;
  }

  .c-link--icon-subscribe {
    position: absolute;
    right: 1.3636rem;
    bottom: 1.8181rem;
    font-size: 1.0909rem;

    &:hover {
      opacity: 0.8;
    }
  }

  &--content-overlap {
    margin-bottom: -5rem;

    .c-link--icon-subscribe {
      bottom: 5rem;
    }
  }

  // Contact page

  &__btn-list {
    max-width: 700px;

    &--item {
      display: inline-block;
      margin-right: 5px;

      .c-btn {
        font-size: 0.84227rem;
        max-width: none;
      }
    }
  }

  // Products

  &--products {
    .c-hero__wrap {
      &::after {
        opacity: 0.3;
      }
    }

    .c-hero__heading {
      text-transform: none;
      font-weight: normal;
      margin: 0;
    }
  }
}
