/* ==========================================================================
   #SOCIAL ICONS
   ========================================================================== */

.c-social-icons {
  display: flex;
  margin-bottom: 1.09rem;

  &__icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    border: 1px solid $color-crimson;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-right: 12px;
    transition: $global-transition;

    &--fb {
      background-image: url('../assets/icons/ico-facebook.svg');
      background-size: auto 20px;
    }

    &--fb-plain {
      background-image: url('../assets/icons/ico-facebook-rounded.svg');
      background-size: auto 26px;
    }

    &--li {
      background-image: url('../assets/icons/ico-linkedin.svg');
      background-size: 18px;
    }

    &--yt {
      background-image: url('../assets/icons/ico-youtube.svg');
    }

    &--twitter {
      background-image: url('../assets/icons/ico-twitter.svg');
      background-size: auto 23px;
    }

    &--bookmark {
      background-image: url('../assets/icons/ico-bookmark.svg');
      background-size: auto 22px;
    }

    &:hover,
    &:focus {
      border-color: darken($color-crimson, 10%);
      opacity: 0.8;
    }
  }

  .at-svc-facebook,
  .at-svc-twitter {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    border: 1px solid $color-crimson;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-right: 12px;
    transition: $global-transition;
    opacity: 0.6;

    &:hover {
      opacity: 0.4;
    }

    .at-icon-wrapper {
      display: none;
    }
  }

  .at-svc-facebook {
    background-image: url('../assets/icons/ico-facebook-rounded.svg');
    background-size: auto 26px;
  }

  .at-svc-twitter {
    background-image: url('../assets/icons/ico-twitter.svg');
    background-size: auto 23px;
  }

  &--plain {
    .c-social-icons__icon {
      border: 0;
    }
  }

  &__count {
    color: $color-eternity;
    letter-spacing: -0.02em;
    font-size: 0.72727rem;
    text-transform: uppercase;
  }
}
