/* ==========================================================================
   #SHARED
   ========================================================================== */

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 1.3rem;
}


/**
 * Consistent indentation for lists.
 */

dd, ol, ul {
  margin-left: 1rem;
}

@include bp-medium-max {
  img + .c-hero__content,
  .c-featured--bg-img + .c-featured__content,
  img + .c-blogpost__content,
  .c-featured--bg-img img + .c-featured__content,
  .c-featured-simple {
    text-shadow: 1px 1px 3px black;
  }
}
