{% extends "layouts/base.twig" %}
{% set pageName = 'Blog - Single' %}

{% block content %}
  <div class="o-wrapper__article">
    <article class="c-article">
      <div class="c-article__content">
        <p class="c-article__intro">
          When water is not diverted properly away from your home through your gutters, it can have serious consequences. Clogged gutters can impact your entire home resulting in serious damages.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          <img src="assets/images/temp/temp-blog-img.jpg" alt="" />
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="c-article__pagination o-layout o-layout--guttered ">
        <a href="#" class="c-link--red is-chevron is-chevron--back">Back to Latest</a>
        <a href="#" class="c-link--red is-chevron">More Like This</a>
      </div>
      <aside class="c-article__social">
        <div class="c-social-icons c-social-icons--plain">
          <span class="c-social-icons__count">11.2K</span>
          <a href="#" class="c-social-icons__icon c-social-icons__icon--twitter">
            <span class="u-hidden-visually">Twitter</span>
          </a>
          <a href="#" class="c-social-icons__icon c-social-icons__icon--fb-plain">
            <span class="u-hidden-visually">Facebook</span>
          </a>
          <a href="#" class="c-social-icons__icon c-social-icons__icon--bookmark">
            <span class="u-hidden-visually">Bookmark</span>
          </a>
        </div>
      </aside>
    </article>
  </div>
{% endblock %}
