{% extends "layouts/base.twig" %}
{% set pageName = 'Home' %}

{% block content %}
  <div class="o-layout o-layout--2 o-layout--guttered">
    <div class="o-layout__item c-featured c-featured--box">
      <img src="assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>DIY</strong> Gutter Guards</h3>
        <p>
          Easy install. Protection that lasts a lifetime.
        </p>
        <a href="#" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
    <div class="o-layout__item c-featured c-featured--box">
      <img src="assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Pro-installed</strong><br />Gutter Guards</h3>
        <p>
          Professionally installed. For more demanding environments.
        </p>
        <a href="#" class="c-link--red is-chevron">See Products</a>
      </div>
    </div>
  </div>

  <div class="o-layout c-about">
    <div class="o-layout__item c-about__col">
      <h3 class="c-about__heading c-heading c-heading--border">Do It Right.<br /><strong>Do It Once.</strong></h3>
      <p>
        We believe in standing behind our claims – saying we'll do something and delivering on it. That's our promise to you.
      </p>
    </div>
    <div class="o-layout__item c-about__col ">
      <ul class="o-list-bare c-image-text c-image-text--rounded">
        <li class="c-image-text__item">
          <img src="https://via.placeholder.com/98x98" alt=""  />
          <p>
            <strong>Get it right the first time</strong> with our simple install and helpful guides.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="https://via.placeholder.com/98x98" alt=""  />
          <p>
            Get help when you need it by calling our <strong>US-based support team</strong>.
          </p>
        </li>
        <li class="c-image-text__item">
          <img src="https://via.placeholder.com/98x98" alt=""  />
          <p>
            <strong>Get it done for good</strong>, knowing our leading materials will stand the test of time.
          </p>
        </li>
      </ul>
    </div>
    <img src="assets/images/static-about.png" alt="" class="c-about__image" />
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Awards & Recognition</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>

  <div class="c-list-images c-list-images--horizontal">
    <h4 class="c-heading c-list-images__heading">Top Rated & Most Popular</h4>
    <ul class="o-list-bare o-layout o-layout--guttered">
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
      <li class="o-layout__item">
        <img src="https://via.placeholder.com/286x120" alt="" class="c-list-images__image" />
      </li>
    </ul>
  </div>

  <div class="c-featured c-featured--fullwidth c-featured--bg-img" style="background-image: url('https://via.placeholder.com/608x674');">
    <div class="c-featured__content">
      <h3 class="c-featured__heading">The <strong>Perfect</strong> Gutter Defense</h3>
      <p>
        Keeps leaves, pine needles, and roof<br />sand grit out of your gutters.
      </p>
      <a href="#" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="c-featured c-featured--fullwidth c-featured--bg-img" style="background-image: url('https://via.placeholder.com/608x674');">
    <div class="c-featured__content">
      <h3 class="c-featured__heading">The <strong>Perfect</strong> Gutter Defense</h3>
      <p>
        Stainless steel micro-mesh<br />won't warp or rust.
      </p>
      <a href="#" class="c-link--red is-chevron">Our Products</a>
    </div>
  </div>

  <div class="c-testimonial c-slider c-slider--columns">
    <h3 class="c-heading c-testimonial__heading">Thousands of <strong>Satisfied Customers</strong></h3>
    <div class="o-layout o-layout--3 o-layout--guttered c-slider__content c-testimonial__list">
      <div class="c-slider_col o-layout__item">
        <p class="c-rating c-rating--5">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </p>
        <p class="c-testimonial__name">
          Ralph	Washington
        </p>
        <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
        <p class="c-testimonial__text">
          Much, much better than the plastic gutter guard product installed a few years back.
        </p>
      </div>
      <div class="c-slider_col o-layout__item">
        <p class="c-rating c-rating--5">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </p>
        <p class="c-testimonial__name">
          Ralph	Washington
        </p>
        <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
        <p class="c-testimonial__text">
          Much, much better than the plastic gutter guard product installed a few years back.
        </p>
      </div>
      <div class="c-slider_col o-layout__item">
        <p class="c-rating c-rating--5">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </p>
        <p class="c-testimonial__name">
          Ralph	Washington
        </p>
        <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
        <p class="c-testimonial__text">
          Much, much better than the plastic gutter guard product installed a few years back.
        </p>
      </div>
    </div>
  </div>

  {% block blogpost %}
    {% include 'components/blogpost.twig' %}
  {% endblock %}

  <div class="o-layout o-layout--2 o-layout--guttered">
    <div class="o-layout__item c-featured c-featured--box">
      <img src="assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Contractor</strong> Program</h3>
        <p>
          We believe in doing things right the first time, and partnering with contractors who feel the same way.
        </p>
        <a href="#" class="c-link--red is-chevron">Become a Partner</a>
      </div>
    </div>
    <div class="o-layout__item c-featured c-featured--box">
      <img src="assets/images/static-rail-product.png" alt="" class="c-featured__image c-featured__image--right" />
      <div class="c-featured__content">
        <h3 class="c-featured__heading"><strong>Dealer</strong> Program</h3>
        <p>
          We offer partnerships for those lookingto offer our pro-install products in each geographic region.
        </p>
        <a href="#" class="c-link--red is-chevron">Learn More</a>
      </div>
    </div>
  </div>
{% endblock %}
