{% extends "layouts/base.twig" %}
{% set pageName = '<%= pageName %>' %}

{% block content %}
  <div class="o-wrapper__article">
    <article class="c-article">
      <div class="c-article__content">
        {{ post.content }}
      </div>
    </article>
  </div>
{% endblock %}


