/* ==========================================================================
   #FORM
   ========================================================================== */

form {
  font-size: 0.909rem;

  > div,
  > li {
    margin-bottom: 1rem;
  }
}

input {
  &:not([type='checkbox']):not([type='radio']):not([type='submit']) {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $color-crimson;
    width: 100%;
    height: 40px;

    &:focus {
      outline: none;
      border-bottom-width: 2px;
      border-bottom-color: darken($color-crimson, 5%);
    }
  }

  &[type='submit'] {
    border: 0;
    padding: 0.3rem 1rem;
    cursor: pointer;
    background: none;
    width: 100%;
    max-width: 125px;
    font-size: 1rem;
  }
}

textarea {
  border: 1px solid $color-crimson;
  width: 100%;
  margin-top: 0.8rem;
  padding: 15px;

  &:focus {
    outline: none;
    border: 2px solid darken($color-crimson, 5%);
  }
}

label {
  color: $color-eternity;
  text-transform: uppercase;
  font-size: 0.54545rem;
  letter-spacing: 1px;
}

.c-form {
  &__submit-wrap {
    position: relative;
    text-align: right;

    &.c-link--chevron {
      &::after {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    input {
      position: relative;
      z-index: 10;
    }
  }
}

body .gform_wrapper {

  .hide-labels {
    label {
      @include hidden-visually();
    }
  }

  textarea {
    padding: 15px;
  }

  .top_label {
    .gfield_label {
      font-weight: normal;
    }
  }

  .gform_footer {
    text-align: right;
    position: relative;
    color: $color-crimson;
    width: 97.5%;
    padding: 0;

    .gform_ajax_spinner {
      position: absolute;
      right: 5.5em;
      top: 10px;
    }

    &::after {
      content: '';
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      height: 8px;
      width: 8px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      vertical-align: middle;
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    input[type=submit] {
      color: $color-crimson;
    }
  }
}
