/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }

  &.is-chevron {

    &::after {
      content: '';
      border-style: solid;
    	border-width: 2px 2px 0 0;
    	display: inline-block;
    	height: 8px;
      width: 8px;
    	left: 6px;
      top: -1px;
    	position: relative;
    	transform: rotate(45deg);
      vertical-align: middle;
    }

    &--back {
      &::after {
        content: normal;
      }

      &::before {
        content: '';
        border-style: solid;
      	border-width: 2px 2px 0 0;
      	display: inline-block;
      	height: 8px;
        width: 8px;
      	left: 0;
        top: -2px;
      	position: relative;
        vertical-align: middle;
        margin-right: 8px;
        transform: rotate(-135deg);
      }
    }
  }
}

.c-link {
  &--red {
    color: $color-crimson;

    &:hover,
    &:focus {
      color: darken($color-crimson, 10%);
      text-decoration: none;
    }
  }

  &--icon {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    padding-right: 40px
  }

  &--icon-subscribe {
    background-image: url('../assets/icons/ico-subscribe.svg');
  }
}
