/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal__container {
	background-color: #fff;
	color: $color-text;
	padding: 30px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
}

.modal__close {
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}

.modal__header .modal__close:before {
	content: "\2715";
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
	&.is-open {
		display: block;
	}
	&[aria-hidden="false"] {
		.modal__overlay {
			animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
		}
		.modal__container {
			animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
		}
	}
	&[aria-hidden="true"] {
		.modal__overlay {
			animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
		}
		.modal__container {
			animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
		}
	}
	.modal__container, .modal__overlay {
		will-change: transform;
	}
}