<div class="c-hero c-hero--page {% if pageName == 'Blog' %}c-hero--content-overlap{% endif %}">
  <div class="c-hero__wrap">
    <img class="c-hero__image" src="https://via.placeholder.com/1920x800" alt="" />
    <div class="c-hero__content">
      {% if pageName == 'Blog - Single' %}
        <div class="c-hero__caption  c-hero__caption--border">
          <p class="c-hero__date">
            April 19, 2018
          </p>
          <h1 class="c-hero__heading c-hero__heading--border-bottom">Avoiding Damage of Clogged Gutters</h1>
        </div>
      {% else %}
        <div class="c-hero__caption c-hero__caption--border">
          <h1 class="c-hero__heading c-hero__heading--is-sub c-hero__heading--border-bottom">ABOUT GUTTER GUARDS</h1>
          <p class="c-hero__subhead">
            What we’re working on and thinking about.
          </p>
        </div>
      {% endif %}
      <a href="#" class="c-link c-link--red c-link--icon c-link--icon-subscribe">Subscribe</a>
    </div>
  </div>
</div>
