<div class="c-testimonial c-slider c-slider--carousel">
  <h3 class="c-heading c-testimonial__heading">Thousands of <strong>Satisfied Customers</strong></h3>
  <div class="c-slider__content c-testimonial__list">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
        <div class="c-slider__col glide__slide">
          <p class="c-rating c-rating--5">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </p>
          <p class="c-testimonial__name">
            Ralph	Washington
          </p>
          <h4 class="c-heading c-testimonial__list-heading">Stainless steel quality</h4>
          <p class="c-testimonial__text">
            Much, much better than the plastic gutter guard product installed a few years back.
          </p>
        </div>
      </div>
    </div>
    <div class="c-slider__arrows glide__arrows" data-glide-el="controls">
      <button class="c-slider__chevron c-slider__left glide__arrow glide__arrow--left" data-glide-dir="<">
        <span class="u-hidden-visually">prev</span>
      </button>
      <button class="c-slider__chevron c-slider__right glide__arrow glide__arrow--right" data-glide-dir=">">
        <span class="u-hidden-visually">next</span>
      </button>
    </div>
  </div>
</div>
