{% extends "layouts/base.twig" %}
{% set pageName = 'Contact' %}

{% block content %}
	<div class="c-contact o-layout o-layout--guttered o-layout--2">
		<div class="c-contact__col c-contact__col--form o-layout__item">
			<h2 id="contact-form" class="c-heading c-heading--border">
				<strong>Contact</strong> Us
			</h2>
			{{ function('gg_contact_form') }}

			{% if 0 %}
				<form class="c-form" id="c-contact__form" action="#" method="post">
					<div>
						<input type="text" name="c-contact__name" id="c-contact__name" value="" placeholder="Name">
					</div>
					<div>
						<input type="email" name="c-contact__email" id="c-contact__email" value="" placeholder="Email">
					</div>
					<div>
						<input type="phone" name="c-contact__phone" id="c-contact__phone" value="" placeholder="Phone">
					</div>
					<div>
						<textarea cols="40" rows="8" name="contact__message" id="contact__message" placeholder="Message"></textarea>
					</div>
					<div class="c-form__submit-wrap c-link c-link--red c-link--chevron">
						<input type="submit" class="c-link c-link--red" value="Submit">
					</div>
				</form>
			{% endif %}
		</div>
		<div class="c-contact__col o-layout__item">
			<div class="c-contact__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24878.788383763247!2d-121.32358328138729!3d38.790106210596676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809b21811ba22519%3A0xa7eee77deb5df0e3!2sGutterglove+Inc!5e0!3m2!1sen!2sus!4v1536539287716" width="100%" height="690" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{% endblock %}
