<div class="c-hero c-hero--contact">
  <div class="c-hero__wrap">
    <img class="c-hero__image" src="{{ site.theme.uri }}/dist/assets/images/temp/hero-contact.jpg" alt="" />
    <div class="c-hero__content">
      <div class="c-hero__caption">
        <h2 class="c-hero__heading c-hero__heading--no-border">I am interested in...</h2>
      </div>
      <form id="c-contact__top-form" action="#" method="post">
        <ul class="o-list-bare c-hero__btn-list">

          {% set actions = { 'product-support': 'Product Support', 'become-a-dealer': 'Becoming a Dealer', 'employment-opportunities': 'Employment Opportunities', 'other': 'Other'} %}

          {% for a, label in actions %}
            <li class="c-hero__btn-list--item">
              <a href="#contact-form" class="contact-form-action-toggle c-btn c-btn--primary c-btn--bordered {{ action == a ? 'active' }}" data-action="{{ a }}">{{ label }}</a>
            </li>
		  {% endfor %}
        </ul>
      </form>
    </div>
  </div>
  <div class="c-hero__banner c-hero__banner--small c-hero__banner--dark c-hero__banner--contact">
    <div class="o-wrapper o-layout o-layout--guttered">
      <div class="o-layout__item">
        <address>
          8860 Industrial Ave., Suite 140<br />
          Roseville, CA. 95678
        </address>
      </div>
      <div class="o-layout__item">
        <a href="tel:8776625644" class="phone">877.662.5644</a>
      </div>
      <div class="o-layout__item">
        <a href="tel:8776625644" class="fax">877.662.5644</a>
      </div>
    </div>
  </div>
</div>
