<div class="c-hero">
  <div class="c-hero__wrap c-hero__wrap--img-right c-hero__wrap--img-small">
    <img class="c-hero__image c-hero__image--overlap c-hero__image--right" src="{{ site.theme.uri }}/dist/{{ site.theme.uri }}/dist/assets/images/temp/hero-home.png" alt="" />
    <div class="c-hero__content">
      <div class="c-hero__caption c-hero__caption--bg">
        <h2 class="c-hero__heading">THE NATION’S MOST TRUSTED GUTTER GUARDS</h2>
      </div>
      <a href="#" class="c-btn c-btn--primary c-btn__chevron">Learn More</a>
    </div>
  </div>
  <div class="c-hero__banner">
    <div class="o-wrapper o-layout">
      <p>Over <strong>4,500</strong> 5-star reviews</p>
      <a href="#" class="c-more is-chevron">Read Reviews</a>
    </div>
  </div>
</div>
