<div class="c-hero">
  <div class="c-hero__wrap">
    <img class="c-hero__image c-hero__image--right" src="{{ site.theme.uri }}/dist/assets/images/temp/hero-home.jpg" alt="" />
    <div class="c-hero__content">
      <div class="c-hero__caption c-hero__caption--bg">
        <h2 class="c-hero__heading">THE NATION’S MOST TRUSTED GUTTER GUARDS</h2>
      </div>
      <p>Over <strong>{{ review_count }}</strong> 5-star reviews &nbsp;&nbsp;&nbsp; <a href="#testimonials" class="c-more is-chevron">Read&nbsp;Reviews</a></p>
    </div>
  </div>
  <div class="c-hero__banner">
    <div class="o-wrapper">
      <div class="o-layout 0-layout--2">
        <div class="o-layout__item">
          <h3>{{ guarded_count }}</h3>
          <p>Homes Guarded by Gutterglove</p>
        </div>
        <div class="o-layout__item">
          <h3>{{  feet_count }}</h3>
          <p>Feet of Gutterglove Installed</p>
        </div>
      </div>
    </div>
  </div>
</div>
