<div class="c-testimonial c-slider c-slider--carousel">
  <h3 class="c-heading c-testimonial__heading">Thousands of <strong>Satisfied Customers</strong></h3>
  <div class="c-slider__content c-testimonial__list">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        {% for testimonial in testimonials %}
          <div class="c-slider__col glide__slide">
            <p class="c-rating c-rating--5">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </p>
            <p class="c-testimonial__name u-clearfix">
              <span class="u-float-right">{{ testimonial.get_field('location') }}</span>
              <span class="u-float-left">{{ testimonial.get_field('name') }}</span>
            </p>
            <h4 class="c-heading c-testimonial__list-heading">{{ testimonial.title }}</h4>
            <p class="c-testimonial__text">
              {{ testimonial.content }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="c-slider__arrows glide__arrows" data-glide-el="controls">
      <button class="c-slider__chevron c-slider__left glide__arrow glide__arrow--left" data-glide-dir="<">
        <span class="u-hidden-visually">prev</span>
      </button>
      <button class="c-slider__chevron c-slider__right glide__arrow glide__arrow--right" data-glide-dir=">">
        <span class="u-hidden-visually">next</span>
      </button>
    </div>
  </div>
</div>
